---
Title: Chocolatey Language Server Protocol Implementation
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Chocolatey Language Server Protocol Implemenation</h1>
        <p>
            Providing rules for inspecting Chocolatey Packaging files in Visual Studio Code and Visual Studio.<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="docs" role="button">Learn more</a>
    </div>
</div>
